[submodule "Library-Management-Project-Platform-Api-Gateway"]
	path = Library-Management-Project-Platform-Api-Gateway
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Platform-Api-Gateway.git
[submodule "Library-Management-Project-Platform-Config-Server"]
	path = Library-Management-Project-Platform-Config-Server
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Platform-Config-Server.git
[submodule "Library-Management-Project-Platform-Service-Registry"]
	path = Library-Management-Project-Platform-Service-Registry
	url = https://github.com/DilsaraThiranjaya/Library-Management-Project-Platform-Service-Registry.git
